# Testing
pytest
pytest-asyncio
pytest-cov
PyMuPDF>=1.23.26
# Database
pydantic
pydantic-settings
pytest-benchmark
pytest-asyncio
pymilvus
supabase 
# FastAPI
fastapi
# Embedding Model
sentence_transformers
# PDF
fpdf
fitz