# สำหรับการทดสอบ
pytest
pytest-asyncio
pytest-cov

# Database
pydantic
pydantic-settings
pytest-benchmark
pytest-asyncio
pymilvus
supabase 

# FastAPI
fastapi

# Embedding Model
sentence_transformers

# PDF
fpdf

fitz